* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #161819;
    color: #ffffff;
}

#header {
    width: 100%;
    .header-text {
        margin-top: 20%;
        font-size: 30px;
        h1 {
            font-size: 60px;
            margin-top: 20px;
            span {
                color: #ff004f;
            }
        }
    }
}

.container {
    background: linear-gradient(#080808FF, #08080800);
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    .logo {
        width: 140px;
    }
    .logo-link {
        text-decoration: none;
        color: inherit;
        color: #ffffff;
    }
    .text-logo {
        user-select: none;
        cursor: pointer;
        padding-right: 50px;
        font-size: 45px;
        span {
            color: #ff004f;
        }
    }
    ul {
        li {
            display: inline-block;
            list-style: none;
            margin: 10px 20px;
            a {
                color: #ffffff;
                text-decoration: none;
                font-size: 18px;
                position: relative;
                &:after {
                    content: '';
                    width: 0;
                    height: 3px;
                    background: #ff004f;
                    position: absolute;
                    left: 0;
                    bottom: -6px;
                    transition: 0.5s;
                }
                &:hover::after {
                    width: 100%
                }
            }
        }
    }
    .fa-bars,
    .fa-x {
        display: none;
    }
}

.content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .selector {
        border-radius: 10px;
        list-style: none;
        width: 60%;
        background-color: #1D1F20;
        li {
            border-color: #484E51;
            border-style: solid;
            border-width: 1px;
            padding: 0.5rem;
            &:first-child { 
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            &:last-child {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            h1 {
                margin-left: 3rem;
            }
            a {
                text-decoration: none;
                margin-left: 5rem;
                color: #ffffff;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}