.temp {
    min-height: 100vh;
    background: linear-gradient(to right top, #20305b, #16213E);
}

h1 {
    font-size: 5rem;
    color: #ffffff;
}

h3 {
    font-size: 2rem;
    color: #ffffff;
}

main {
    align-items: baseline;
    justify-content: left;
}

.section-title {
    font-size: 3rem;
}

.url {
    font-size: 1.5rem;
    color: #E94560;
    margin-left: 2rem;
}

.flex-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}